<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid" style="border-bottom: rgba(0, 0,0, .12) 1px solid;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="shop/create" class="nav-link" routerLinkActive="active">
                Create Shop
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link" routerLinkActive="active">
                Shops
              </a>
            </li> 
          </ul>
          <div (click)="logout()" style="cursor: pointer;color: brown;"> Logout </div>
        </div>
    </nav>
<table class="table table-hover">
  <thead style="background-color: #ffcccc;">
  <tr>
      <td>Shop Name</td>
      <td>Shop Email</td>
      <td><div style="display: flex;">
      <div style="margin-right: 200px">Address</div>
      <div>Sub-Users</div>
    </div>
    </td>
      <td>Actions</td>
  </tr>
  <tr>
        <td></td>
        <td></td>
        <div style="display: flex;">
        <div style="margin-right: 40px">
        <td>Plot number</td>
        <td>Area</td>
        <td>PIN</td>
        </div>
        <div>
                <td>Name</td>
                <td>Email</td>
        </div>
        </div>
        <td></td>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let shop of shops">
          <td>{{ shop.shopName }}</td>
          <td>{{ shop.shopMail }}</td>
          <div style="display: flex;">
          <div style="width: 200px; margin-right: 70px;"><table>
              <tbody>
          <tr *ngFor="let address of shop.shopAddress">
            <td>{{ address.plotno }}</td>
              <td>{{ address.locality }}</td>
              <td>{{ address.pincode }}</td>
          </tr>
          </tbody>
        </table>
    </div>
    <div>
        <table>
                <tbody>
            <tr *ngFor="let user of shop.users">
              <td>{{ user.userName }}</td>
                <td>{{ user.userMail }}</td>
            </tr>
            </tbody>
          </table>
                    </div>
                    </div>
          <td><button (click)="addMore(shop)" class="btn btn-primary">Add More Users</button></td>
      </tr>
  </tbody>
</table>